.hero {
  margin-bottom: 20px;

  &-result {
    @media (max-width: 700px) {
      display: none;
    }
  }

  .hero-body {
    height: 550px;
    overflow: auto;

    .added-chips {
      margin-bottom: 25px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 10px;

      .chip {
        border: 1px solid #dddddd;
        padding: 15px;
        border-radius: 10px;

        &__header {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
          align-items: center;

          button {
            border: none;
            cursor: pointer;
            padding: 0;
            height: 24px;
            background: transparent;
          }

          &_title {
            font-size: 16px;
            font-weight: 600;
            margin-right: 5px;
          }
        }

        &__body {
          margin-bottom: 15px;
        }

        &__footer {
          display: flex;
          justify-content: space-around;
          color: gainsboro;

          button {
            padding: 5px;
            border: 1px solid rgb(202, 202, 202);
            border-radius: 5px;
            color: rgb(158, 158, 158);
            background: none;
            transition: 0.3s;
            font-style: 16px;


            &:hover {
              color: black;
              border: 1px solid black;
              cursor: pointer;
            }

            &.exclude {
              border-color: tomato;
              color: tomato;
            }
          }
        }
      }

      &__btn {
        display: flex;
        position: sticky;
        justify-content: center;
        border: none;
        background: #83cc98;
        border-radius: 15px;
        font-weight: 500;
        font-size: 18px;
        transition: 0.3s;
        height: 50px;
        width: 250px;

        @media (max-width: 700px) {
          width: 100%;
        }

        a {
          display: flex;
          color: white;
          text-decoration: none;
          align-items: center;
          font-weight: bold;

          .lds-ring div {
            border-color: rgb(255, 255, 255) transparent transparent transparent;
          }
        }

        &:hover {
          cursor: pointer;
          transform: translateY(-3px);
          box-shadow: 0 3px 6px rgba(153, 153, 153, 0.16),
            0 3px 6px rgba(151, 151, 151, 0.23);
        }
      }
    }

    .search-placeholder {
      background: #ffffff;
      background-image: url("../../assets/img/foodEat.svg");
      background-repeat: no-repeat;
      background-position: center;
      height: 550px;
    }
  }
}
