.search {
  &-result {

    .search-placeholder {
      img {
        width: 100%;
      }
    }

    &__add-ingredients {
      background: #000000;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
      border-radius: 10px;
      height: 50px;
      color: white;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
    }


  }
}

.search-block {
  position: relative;

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: 1px solid #bebebe;
    border-radius: 10px;
    display: flex;
    align-items: center;
    outline: none;
    justify-content: center;
    transition: ease-in 0.1s;
    font-weight: bold;
    font-size: 15px;
    padding-left: 40px;

    &:focus {
      border-radius: 10px;
      border-color: black;
    }
  }

  &__input-img {
    position: absolute;
    bottom: 15px;
    left: 15px;
  }

  &__search-switch {
    display: flex;
    height: 50px;
    border: 2px solid #bebebe;
    border-radius: 10px;
    font-weight: 600;
    margin-bottom: 15px;

    a {
      text-decoration: none;
      color: black;

    }

    .selected {
      background: rgba(0, 0, 0, 0.8);
      color: white;
      border-radius: 10px;
      height: 100%;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }

    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
    }
  }
}

.search-popup {
  background: #fff;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(230, 230, 230, 0.16), 0 3px 6px rgba(151, 151, 151, 0.23);
  border-radius: 10px;
  animation: 3s ease-in 1s 2 reverse both paused slidein;
  transition: 0.3s;

  &__body {
    padding: 15px;
  }

  &__input {
    margin-bottom: 15px;

    input {
      width: 100%;
      height: 40px;
      border: none;
      border-bottom: 1px solid gray;
      padding-left: 10px;
      font-size: 18px;
      outline: none;
      transition: 0.1s;

      &:focus {
        border: none;
        border-bottom: 1px solid black;
      }
    }
  }

  &__chips {
    display: flex;
    flex-direction: row;
    overflow: auto;
    margin-bottom: 15px;

    @media (min-width: 700px) {
      display: none;
    }

    .chip {
      display: flex;
      align-items: center;
      padding: 7px 12px 7px 12px;
      border: 1px solid gray;
      border-radius: 10px;
      margin-right: 15px;

      &__name {
        font-weight: 600;
        font-size: 14px;
        margin-right: 10px;
        white-space: nowrap;
      }

      &__delete-btn {
        display: flex;
      }
    }
  }

  &__result {
    overflow: auto;
    max-height: 150px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;


      li {
        font-size: 18px;
        color: grey;
        padding: 10px;
        cursor: pointer;

        &:hover {
          padding: 10px;
          background: #f5f5f5;
          border-radius: 10px;
          color: black;
        }
      }
    }
  }
}

.hero-header {
  &__title h1 {
    font-family: TT Norms Medium, sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
  }

  &__description {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #575757;
  }
}
