@import './services/variables.scss';

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 3vw;

  &__search {
    flex: 1;
    align-self: center;
   
  }

  &__result {
    flex: 2;
  }
}

@media (min-width: 576px) {
  .container {
    width: $phone-width;
  }
}
@media (min-width: 992px) {
  .container {
    width: $tablet-width;
  }
}
@media (min-width: 1200px) {
  .container {
    width: $desktop-width;
    flex-direction: row;
  }
}